

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #f7f7f7;
    padding: 0px 20px;
    border-radius: 5px;
}

.title button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #634FA2;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}
.title button a {
    text-decoration: none;
    color: #ffffff;
}
.title button:hover {
    background-color: #634FA2;
}


div button img {
    width: 20px;
}

form button img {
    width: 15px;
}

form button {
    background-color: #88918e;
    border: transparent;
    padding: 5px;
    color: #ffffff;
}

form {
    margin: 10px;
    padding: 10px 20px;
    background-color: #634FA2;
}

table tbody td button {
    background-color: #ffffff;
    border: transparent;
    border-radius: 2px;

}

table tbody td button:hover {
    background-color: #f3ebeb;
    
}

.texto-centrado {
    text-align: center;
}

/* Contenedor principal */
.container {
    display: flex; /* Configura los elementos hijos en fila */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: flex-start; /* Alineación vertical */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px;
    box-sizing: border-box;
}

/* Tabla */
.container-table {
    flex: 2; /* Ocupa más espacio que el formulario */
    overflow-x: auto; /* Habilita desplazamiento horizontal si es necesario */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table thead {
    background-color: #634FA2;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Formulario */
.create {
    flex: 1; /* Ocupa menos espacio que la tabla */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.create form input, 
.create form textarea, 
.create form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.create form button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #bbaee6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create form button:hover {
    background-color: #b9a9ee;
}

/* Responsividad */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Apilar en pantallas pequeñas */
    }

    .container-table, .create {
        flex: 1;
    }
}